body {
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    margin-left: -0.02%;
    margin-top: -0.2%;
}

.container {
    user-select: none;
    color: #0f0;
    font-family: 'REM', sans-serif;
}

.back {
    height: 200%;
    width: 80%;
    background-color: rgb(42, 39, 39);
    outline-width: 20px;
    outline-color: rgb(247, 0, 222);
}

.title {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    display: block;
}

.submitting {
    color: #0f0;
    cursor: pointer;
    border: none;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s cubic-bezier(0.72, 0.11, 0.54, 1.02);
    width: 240px;
    height: 110px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.inside {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    text-align: center;
}

.submitting:hover {
    color: #0f0;
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 3px);
    border: 2px solid #0f0;
    border-radius: 30px;
    animation: opacity1 0.3s, font 0.5s, movement 0.5s;
}

.title,
.submitting,
.terms {
    color: #0f0;
    font-family: 'REM', sans-serif;
    user-select: none;
    transition-duration: 0.4s;
}

.terms {
    text-decoration: none;
    display: flex;
    position: relative;
    margin-top: 30px;
    font-size: 10px;
    transition-duration: 0.5s;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.torms:hover,
.terms:hover {
    color: #0f0;
    display: relative;
    background: #000;
    border: 2px solid #0f0;
    border-radius: 20px;

}

.videoin {
    user-select: none;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    border: 2px solid #0f0;
    color: #0f0;
    background-color: #0d0d0d;
    background: linear-gradient(to right, rgb(0, 50, 0) 50%, #000 50%) left;
    background-size: 300%;
    background-position: 250%;
    transition-duration: 0.5s;
}

.videoin:hover {
    color: #0f0;
    background-position: 150%;
}

.videoin:focus {
    color: #0f0;
    background-position: 100%;
}

@keyframes slide {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.down-sound,
.down-small,
.down-big {
    border: 1px solid #0f0;
    border-radius: 3px;
    color: #0f0;
    font-weight: 700;
    background-color: #000;
    margin-right: 10%;
    float: right;
    padding-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 130%;
    user-select: none;
    margin-bottom: 50px;
}

.modal_info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.modal-title {
    font-size: larger;
}

.modal-thumb {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border: 3px solid #0f0;
    border-radius: 5px;
    width: 60%;
    height: 60%;
}

.modal-author,
.modal-when,
.modal-when,
.modal-status {
    overflow: visible;
    text-wrap: nowrap;
}

.modal_downtype {
    display: flex;
}

.modal-content {
    font-family: 'REM', 'sans-serif';
    position: relative;
    background-color: #000;
    color: #0f0;
    margin: auto;
    padding: 0;
    border: 1px solid #0f0;
    width: 60%;
    height: 60%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: big;
    animation-duration: 0.4s;
}

.god {
    margin-left: 4%;
}

@keyframes big {
    from {
        scale: 0;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1
    }
}

.plate {
    display: none;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: balls;
    animation-duration: 1s;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 4;
}

@keyframes balls {
    0% {
        height: 0;
        width: 0;
        top: 50%;
    }

    50% {
        top: 50%;
        width: 100%;
        height: 1%;
    }

    100% {
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
    }
}

/****************************************************************************************************************/

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #0f0, #000);
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-90%);
    }

    50% {
        transform: translateY(85%);
    }

    100% {
        transform: translateY(-90%);
    }
}

section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 1;
    transition: 1.5s;
}

section span:hover {
    background: #0f0;
    transition: 0s;
}

section .signin {
    position: absolute;
    width: 400px;
    background: #202020;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

section .signin .content {
    margin-left: -10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

section .signin .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .signin .content .inputBox {
    position: relative;
    width: 100%;
}

section .signin .content .inputBox input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

section .signin .content .inputBox {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .inputBox input:focus~i,
.signin .content .inputBox input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .contenta {
    color: #fff;
    text-decoration: none;
}

.signin .contenta:nth-child(2) {
    color: #0f0;
    font-weight: 600;
}

.signin .content .inputBox input[type="submit"] {
    padding: 10px;
    background: #0f0;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}

@media (max-width: 900px) {
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}